<!DOCTYPE html>
{% load custom_tags %}
<html>
<head>
	<title></title>
</head>
<body>
	{% if not user.is_authenticated %}
		<a href="{% url 'user-login' %}?next={{request.path}}">Log In</a>
	{% else %}
		<a href="{% url "user-logout" %}"> logout </a>
	{% endif %}
	<ul>
        {% for library in object_list %}
           <li><font size="6"><a href="{% url 'library-detail' library.slug %}">{{ library.library_name }}</a></font></li>
        	<font size = "5">&nbsp;&nbsp;owner:</font> {{ library.library_owner }}
          <br><br>
        {% endfor %}
    </ul>
</body>
</html>